<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SmsTempMapper">
    <!-- TODO: 需确认数据库 sms_temp 表是否已创建 -->
    <resultMap id="BaseResultMap" type="org.example.entity.SmsTemp">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="template" jdbcType="VARCHAR" property="template"/>
        <result column="paramter" jdbcType="VARCHAR" property="paramter"/>
        <result column="creater" jdbcType="VARCHAR" property="creater"/>
        <result column="owntype" jdbcType="INTEGER" property="owntype"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, template, paramter, creater, owntype, status, created, updated
    </sql>
    <select id="selectByExample" parameterType="org.example.entity.SmsTempExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sms_temp
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sms_temp
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sms_temp
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="org.example.entity.SmsTempExample">
        delete from sms_temp
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.example.entity.SmsTemp">
        insert into sms_temp (id, template, paramter,
                              creater, owntype, status,
                              created, updated)
        values (#{id,jdbcType=BIGINT}, #{template,jdbcType=VARCHAR}, #{paramter,jdbcType=VARCHAR},
                #{creater,jdbcType=VARCHAR}, #{owntype,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
                #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="org.example.entity.SmsTemp">
        insert into sms_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="template != null">
                template,
            </if>
            <if test="paramter != null">
                paramter,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="owntype != null">
                owntype,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="template != null">
                #{template,jdbcType=VARCHAR},
            </if>
            <if test="paramter != null">
                #{paramter,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="owntype != null">
                #{owntype,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.example.entity.SmsTempExample" resultType="java.lang.Long">
        select count(*) from sms_temp
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="org.example.entity.SmsTemp">
        update sms_temp
        <set>
            <if test="template != null">
                template = #{template,jdbcType=VARCHAR},
            </if>
            <if test="paramter != null">
                paramter = #{paramter,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                creater = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="owntype != null">
                owntype = #{owntype,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.example.entity.SmsTemp">
        update sms_temp
        set template = #{template,jdbcType=VARCHAR},
            paramter = #{paramter,jdbcType=VARCHAR},
            creater  = #{creater,jdbcType=VARCHAR},
            owntype  = #{owntype,jdbcType=INTEGER},
            status   = #{status,jdbcType=INTEGER},
            created  = #{created,jdbcType=TIMESTAMP},
            updated  = #{updated,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
