<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.hjycommunity.system.mapper.SysMenuMapper">

    <resultMap type="org.example.hjycommunity.system.domain.pojo.SysMenu" id="SysMenuMap">
        <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="isFrame" column="is_frame" jdbcType="INTEGER"/>
        <result property="isCache" column="is_cache" jdbcType="INTEGER"/>
        <result property="menuType" column="menu_type" jdbcType="VARCHAR"/>
        <result property="visible" column="visible" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 根据用户 id 查询菜单权限 -->
    <select id="selectMenuPermissionsByUserId" parameterType="long" resultType="string">
        select distinct sm.perms
        from sys_menu sm
                 left join sys_role_menu srm on srm.menu_id = sm.menu_id
                 left join sys_user_role sur on sur.role_id = srm.role_id
                 left join sys_role sr on sr.role_id = sur.role_id
        where sm.status = 0
          and sr.status = 0
          and sur.user_id = #{userId}
    </select>

    <!-- 查询全部的菜单信息 -->
    <select id="selectMenuTreeAll" resultMap="SysMenuMap">
        select distinct menu_id,
                        menu_name,
                        parent_id,
                        order_num,
                        path,
                        component,
                        is_frame,
                        is_cache,
                        menu_type,
                        visible,
                        status,
                        ifnull(perms, '') as perms,
                        icon,
                        create_time
        from sys_menu
        where menu_type in ('M', 'C') # M 目录 C 菜单
          and status = 0
    </select>

    <!-- 根据用户 id 查询菜单信息 -->
    <select id="selectMenuTreeByUserId" resultMap="SysMenuMap">
        select distinct sm.menu_id,
                        sm.menu_name,
                        sm.parent_id,
                        sm.order_num,
                        sm.path,
                        sm.component,
                        sm.is_frame,
                        sm.is_cache,
                        sm.menu_type,
                        sm.visible,
                        sm.status,
                        ifnull(sm.perms, '') as perms,
                        sm.icon,
                        sm.create_time
        from sys_menu sm
                 left join sys_role_menu srm on srm.menu_id = sm.menu_id
                 left join sys_user_role sur on sur.role_id = srm.role_id
                 left join sys_user su on su.user_id = sur.user_id
                 left join sys_role sr on sr.role_id = sur.role_id
        where sur.user_id = #{userId}
          and menu_type in ('M', 'C') # M 目录 C 菜单
          and sm.status = 0
          and sr.status = 0
          and su.status = 0
    </select>
</mapper>
